<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <h1 class="text-3xl font-bold underline"><%= title %></h1>
    <p class="mt-5 text-blue-600">Welcome to <%= text %></p>
  </body>
</html>
